body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 15px;
}

#red {
    background-color: red;
}

#blue{
    background-color: blue;
}

#orange{
    background-color: orange;
}

#green{
    background-color: green;
}

#purple {
    background-color: purple;
}